www.nongofficial.store {
    encode gzip

    # Backend API proxy must come first
    handle_path /api/* {
        reverse_proxy website_api:9090
    }

    # Serve Vue SPA
    root * /usr/share/caddy
    file_server
    try_files {path} {path}/ /index.html

    # Logging
    log {
        output file /var/log/caddy/www-nongofficial.log
        format json
    }
}
