version: "3.9"

services:
  backend:
    image: nongdev/node-backend:latest
    container_name: backend
    restart: always
    networks:
      - my-net

  web:
    image: nongdev/vue-caddy:latest
    container_name: web
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - my-net

networks:
  my-net:

volumes:
  caddy_data:
  caddy_config:
