version: "3.8"

services:
  backend:
    build: ./backend
    container_name: node-backend
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./backend/data:/app/data
    environment:
      NODE_ENV: production
  vue-app:
    build: ./frontend
    container_name: vue-caddy
    ports:
      - "80:80"
      - "443:443"
    restart: always
